.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 70%);
  background-color: #422256;
  color: #fff;
  height: 500px;
}


@media(max-width:800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #422256;
    color: #fff;
    height: 500px;
    clip-path: none;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 70%);
    width: 100%;
  }
  
}